.counts {
  padding: 70px 0 60px;
}

.counts .countBox {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.counts .icon {
  width: 42px;
  margin-right: 20px;
}

.counts .smileIcon {
  line-height: 0;
  color: #4154f1;
}

.counts .journalIcon {
  color: #ee6c20;
}

.counts .headSetIcon {
  color: #15be56;
}

.counts .peopleIcon {
  color: #bb0852;
}

.counts .countBox span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #0b198f;
}

.counts .countBox p {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}
