.accordion__button {
  padding: 15px 15px 20px 0;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  color: #444444;
  text-align: left;
  background-color: white !important;
  outline: none;
}

.accordion {
  border: none !important;
}

.accordion__item + .accordion__item {
  border-top: none !important;
}

.accordion__button[aria-expanded="true"] {
  color: #4154f1 !important;
}

/* .accordion__panel:not(hidden) {
   height: 100%;
 transition-delay: 5s; 
 border: 1px solid green; 
 }  */
