.services .serviceBox {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
}

.services .serviceBox .icon {
  width: 75px;
  padding: 24px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}

.services .serviceBox h3 {
  color: #444444;
  font-weight: 700;
}

.services .serviceBox .readMore {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
}

.services .serviceBox .readMore .arrowRightIcon {
  line-height: 0;
  margin-left: 5px;
  font-size: 20px;
}

.services .serviceBox.blue {
  border-bottom: 3px solid #2db6fa;
}

.services .serviceBox.blue .icon {
  color: #2db6fa;
  background: #dbf3fe;
}

.services .serviceBox.blue .readMore {
  color: #2db6fa;
}

.services .serviceBox.blue:hover {
  background: #2db6fa;
}

.services .serviceBox.orange {
  border-bottom: 3px solid #f68c09;
}

.services .serviceBox.orange .icon {
  color: #f68c09;
  background: #fde3c4;
}

.services .serviceBox.orange .readMore {
  color: #f68c09;
}

.services .serviceBox.orange:hover {
  background: #f68c09;
}

.services .serviceBox.green {
  border-bottom: 3px solid #08da4e;
}

.services .serviceBox.green .icon {
  color: #08da4e;
  background: #cffddf;
}

.services .serviceBox.green .readMore {
  color: #08da4e;
}

.services .serviceBox.green:hover {
  background: #08da4e;
}

.services .serviceBox.red {
  border-bottom: 3px solid #e9222c;
}

.services .serviceBox.red .icon {
  color: #e9222c;
  background: #fef7f8;
}

.services .serviceBox.red .readMore {
  color: #e9222c;
}

.services .serviceBox.red:hover {
  background: #e9222c;
}

.services .serviceBox.purple {
  border-bottom: 3px solid #b50edf;
}

.services .serviceBox.purple .icon {
  color: #b50edf;
  background: #f8e4fd;
}

.services .serviceBox.purple .readMore {
  color: #b50edf;
}

.services .serviceBox.purple:hover {
  background: #b50edf;
}

.services .serviceBox.pink {
  border-bottom: 3px solid #f51f9c;
}

.services .serviceBox.pink .icon {
  color: #f51f9c;
  background: #feecf7;
}

.services .serviceBox.pink .readMore {
  color: #f51f9c;
}

.services .serviceBox.pink:hover {
  background: #f51f9c;
}

.services .serviceBox:hover h3,
.services .serviceBox:hover p,
.services .serviceBox:hover .readMore {
  color: #fff;
}

.services .serviceBox:hover .icon {
  background: #fff;
}
